*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width: 100%;
}

#main{
    position: relative;
    z-index: 10;
    background-image: url(./bg.jpg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#page1{
    min-height: 100vh;
    width: 100%;
    color: whitesmoke;
    backdrop-filter: blur(8px); 
    padding: 0 2vw;
}

nav{
    /* vertical-align: top; */
    padding: 3vw 4vw;
    display: flex;
    width: 100%;
    font-family: "Varela Round";
    /* background-color: red; */
    justify-content: space-between;
    z-index: 100;
    position:relative;
    align-items: center;
}

#nav2{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    gap: 1vw;
}

nav a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 500;
    background-clip: padding-box;
}

#nav2 h4{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    
}

#nav2 a{
    text-decoration: none;
    color:aliceblue;
}

nav a:hover h4{
    border: 1px solid aliceblue;
    border-radius: 50px;
    transition: all ease 0.4s;

}

#connect-wallet-button{
    background: none;
    font-family:"Varela Round";
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    border-color: rgb(255, 255, 255);
    color:aliceblue;
    box-shadow: none;
}

#connect-wallet-button:hover{
    transition: all ease 0.4s;
    background: linear-gradient(
        to right,
        rgb(238, 246, 82),
        rgb(156, 254, 75));
    border-color:rgb(242, 249, 105);
    color:black;
    font-size: 19px;
}

#center{
    width: 100%;
    display: flex;
    font-family: "Raleway",sans-serif;
    padding: 3vw 4vw;
}

#page1-left{
    width: 55%;
    text-align: left;
    font-size: 5vh;
}

#heading-text h1{
    font-size: 1.8vw;
    line-height: 2vw;
}

#subHeading-text h5{
    width:70%;
    font-size: 20px;
    font-family: "Raleway",sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}

#more{
    display: flex;
    gap: 2vw;
    text-align: center;
}

#get-started-button{
    background: linear-gradient(
        to right,
        rgb(242, 249, 105),
        rgb(156, 254, 75));
    border-radius: 50px;
    color: black;
    border: none;
    padding: 10px 35px;
    font-size: 18px;
    font-weight: 900;
    font-family: "Raleway",sans-serif;
    margin: 0.5vw;
}

#learn-more{
    text-align: center;
    margin-bottom: 15px;
}

#learn-more h4 a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    transition: 0.3s;
    font-family: "Raleway",sans-serif;
}

#page1-bottom{
    height:20vw;
   background-color: blueviolet;
    /* backdrop-filter: blur(8px); */
    border-radius: 25px;
    padding: 3vw 0;
    width: 93%;
    font-family: "Raleway",sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#info-left{
    display:flex;
    width: 60%;
    text-align:left;
    justify-content: space-between;
    background-color: brown;
}

.info{
   padding: 0 5vw;
}

#info-right .info h4{
    font-size: 18px;
}

#info-right .info h1{
    font-size: 30px;
}

#info-right{
    width: 40%;
    text-align:right;
    justify-content: space-between;
    background-color: aqua;
}

#info-right-top {
    width: 100%;
    gap:2vw;
    text-align: top;
    justify-content: center;
    vertical-align: top;
}

#info-right-bottom{
    position: relative;
}

#info-right-bottom img{
    position: absolute;
    height: 50px;
    object-fit: contain;
    aspect-ratio: 1/1;
    background-clip: padding-box;
    border-radius: 50%;
}

#img2{
    left:35%;
}